

body{
  background: linear-gradient(to left, red,skyblue, white);
  font-family: Poppins;
  

    
}


.nav-pt1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: white;
  height: 80px;
  text-decoration: none
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  height: var(--nav-height);
  text-decoration: none
}

.nav a{
  color: rgba(159, 210, 241, 0.925);
  font-size: 20px;
  font-family: "Poppins", sans-serif;
text-decoration: none;


}


.nav a .fa-brands.fa-instagram{
font-size: 40px;


}


.nav a .fa-brands.fa-facebook-f{

font-size: 30px;

}


.logo{
  font-size: 2rem;
  font-weight: 900;
padding-left: 200px;
  padding-top: -20px;
  width: 80px;
  padding-right: 20px;
}

.nav-menu{
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav-menu li ~ li{
  margin-left: 30px;
  margin-right: 20px;

}

.nav-menu a{
  text-transform: uppercase;
  font-weight: 700;
 
}

.nav-menu a:hover{
  color: var(--main-color);
}

.nav-menu a.btn:hover, 
a.logo:hover,
a.movie-item:hover{
  color: unset;
}



main.cards section.card span.adm{
  max-width: 800px; 
  float: left;
  padding-left: 0;
  margin: 0;
  text-align: left;
}


h3.emtlgs{
font-family: Poppins;
margin: 0;
text-align: center ;
font-size: 15px;
max-width: 300px;
padding: 0;

}

h3.emtds{
 font-family: Poppins;
padding-left: 0;
text-align: left;
font-size: 15px;
padding-top: 0; 
display: inline-block;
}

h3{
  font-family: Poppins;
padding-left: 320px;
text-align: left;
padding-top: 0;
}

main.cards {
   display:  block;
    margin-left: 0px;
    margin-top: 20px;
    padding: 10px;
flex-direction: row;

}


main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 500px;
  
    width: 98.3%;
    height: 600px;
    margin-top: 100px;
    
}

hr{
 border-color:darkred; 
 width: 500px;
 
}


main.cards section.card:first-child {
    margin-left: 0;
    
}

main.cards section.card .icon {
    width: 1px;
    height: 1px;
    margin-top: 0;
    
}

main.cards section.card img {
    width: 800px;
    height: 510px;;
    padding-left: 1000px;
    opacity:  0.5;
    border-radius: 3px;
  
}

main.cards section.card h1 {
    font-size: 100px;
    margin: 16px 0;
    font-family: Poppins;
    color: black;
    
    
}

main.cards section.card span {
    font-weight: 300;
    max-width: 550px;
    font-size: 15px;
    margin-bottom: 50px;
    font-family: Poppins;
    margin-left: 200px;
    text-align: center;
   
     
}


main.cards section.card span.ds {
    font-weight: 300;
    max-width: 300px;
    font-size: 15px;
    margin-bottom: 16px;
    font-family: Poppins;
    margin-left: 0px;
    text-align: left;
   
}







main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

main.cards section.card.contact button {
    background: linear-gradient(to right, #9F66FF, #DFCBFF);
}
main.cards section.card.shop button {
    background: linear-gradient(to right, #3E8AFF, #BBDEFF);
}
main.cards section.card.about button {
    background: linear-gradient(to right, #FE5F8F, #FFC7D9);
}





main.cards section.card.contact {
    box-shadow: 20px 20px 50px -30px #DBC4FF;
}
main.cards section.card.shop {
    box-shadow: 20px 20px 50px -30px #AFD6FF;
}
main.cards section.card.about {
    box-shadow: 20px 20px 50px -30px #FFC1D5;
}



main.cards section.card img.adm{
  padding-left: 960px;
  border-radius: 3px;
  opacity:  0.5;
  
}



main.cards section.card img.edf{
  padding-left: 960px;
  border-radius: 3px;
  opacity:  0.5;
  width: 800px;
  
}




main.container{
  
  display: flex;
  margin-left: 75px;
  margin-top: 100px;
  padding: 10px;
  flex-direction: row;
  width: 1700px;
  margin-bottom: 0;

}

main.container div{
  display: flex;
  flex-direction:  column;
  align-items: center;
  text-align: center;
  background: 	 skyblue;

margin-bottom: 0px;
  border-radius: 5px;
 width: 2800px;
 margin-top: 100px;
font-family: Poppins;
  
}
